<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="DJ" value="https://artifactory.dowjones.io/artifactory/api/nuget/djsp-nuget-local" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSourceCredentials>
    <DJ>
      <add key="Username" value="djsp-ro" />
      <add key="ClearTextPassword" value="AKCp2Tg44AqjZDA7jgmq57Zk5PSEHs6GvxXG6tkmy2PGcFio43dwyiLmnyn1jEPXxkJsTTT4r" />
    </DJ>
  </packageSourceCredentials>
</configuration>